.contentWrap{
	
	position:relative;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	max-width:118rem;
	padding-left:1rem;
	padding-right:1rem;
}


.aside{
	background-color:#fff;
	border:1px solid #d9d9d9;
	width:249px;
	min-height:50rem;
	margin-bottom:0;
	box-sizing: inherit;
	float:left;
}

.aside-head{
	background-color:#f0f0f0;
	border:1px solid #d9d9d9;
	margin:-1px -1px 0 -1px;
	padding:2rem;
}

.aside-menu-title{
	font-size:25px;
	line-height:1;
	font-weight:700;
}

.category-menus{
	background-color:#fff;
	border-left:1px solid #d9d9d9;
	border-right:1px solid #d9d9d9;
	margin:0 -1px;
}

.category-menus li{
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
	box-sizing: inherit;
	border-bottom:1px solid #d9d9d9;
}

.category-menus a{
	font-size:1rem;
	font-weight:700;
	color:#666;
	display:block;
	width:100%;
	padding:0.85rem;
	margin-left:20px;
}

.category-menus a:hover{
	color:var(--cauBlue);
}


.society-content{
	border-left:0;
	margin-left:250px;
	background-color:#fff;
	border:1px solid #d9d9d9;
	padding:4.5rem 2.5rem;
}

.society-heading{
	min-height:2rem;
	margin-bottom:2.5rem;
}

.section-title{
	font-size:1.8rem;
	line-height:1.2;
	font-weight:400;
	color:black;
}

.section{
	height:350px;
	margin-bottom:70px;
}


.content-list-item{
	height:210px;
	list-style: none;
	padding:1rem;
	border-top: 1px solid #d9d9d9;
	width:32%;
	margin-right:10px;
}

.content-list-item .image{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 10rem;
	width: 100%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-size: 1.4rem;
	line-height:1.8;
	font-weight:400;
}

.content-list-item .image img{
	display: inline-block;
	max-width:100%;
	max-height:7rem;
	width:auto;
}

.content-list-item .description{
	font-size: 1.2rem;
	line-height:1.4;
	text-align: center;
	font-weight:400;
}

.columns{
	float:left;
	/* box-sizing: inherit; */
}

.columns:first-child{
	margin-left:0;
}


@media (min-width:760px) and (max-width:1100px){

	.aside{
		background-color:#fff;
		border:1px solid #d9d9d9;
		width:220px;
		min-height:50rem;
		margin-bottom:0;
		box-sizing: inherit;
		float:left;
	}

	.aside-head{		
		padding:2rem;
	}

	.aside-menu-title{
		font-size:20px;
		line-height:1;
		font-weight:700;
	}

	.category-menus a:hover{
		color:var(--cauBlue);
	}

	.society-content{
		border-left:0;
		margin-left:220px;
		background-color:#fff;
		border:1px solid #d9d9d9;
		padding:4.5rem 2.5rem;
	}
	
	.content-list-item{
		width:31%;
	}

}