.home-bg{
    background-color: white;
    width:1300px;
    height:900px;
    padding:50px 80px;  
    margin-left:30px;
}

.justice{
  border-bottom: 1px solid black;
  padding-bottom:70px;
  margin-bottom:50px;

}

.justice-text{
  width:83%;
  float:left;
}

.justice-text > p{
  font-weight:800;
  font-size:1.6em;
  margin-bottom:20px;
}

.justice-text > h7{
  line-height:1.5em;
}

.justice img{
  position:relative;
  overflow:hidden;
  right:-20px;
  top:30px;
  width:10%;
  padding: 10px 20px;
  border-radius:20%;
}

.law{
  padding:50px 0;
}

.head-title > p{
  
  font-size:1.3em;
  font-weight:800;
  margin-bottom:15px;

}

.law-content > p{
  font-size:1.1em;
  padding:10px;
}

.law-content > h6{
  font-size:0.9em;
  padding:10px;
  margin-left:10px;
}

.btn {
    border: 1px solid green;
    background-color: inherit;
    padding: 0 28px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    overflow:hidden;
    top:-2px;
    margin-left:10px;
    height:20px;
    line-height: 10px;
    
}

.btn:hover{
  background:#eee;
}

.success {color: green;}


.statistics{
  margin-top:30px;
  float:left;
  width:50%;
}


.static-content > ul, .issue-content > ul{
  padding-left:30px;
  line-height:2.2;
  list-style-type: circle;
}

.static-content > ul > li > a:hover, .issue-content > ul > li > a:hover{
  color:royalblue;
}

.head-title > h6{
  padding-bottom:15px;
}

.head-title > h6 > a{
  color:midnightblue;
  font-weight:800;
}

.head-title > h6 > a:hover{
  color:royalblue;
}

.issuePaper > .head-title > p{
  padding-bottom:30px;
}


.issuePaper{
  margin-top:30px;
  float:left;
  width:50%;

}
