/* 모바일 div 사이즈 */
.content {
	width: 100vw;
	background-color: var(--bgColor);
}

.content .centerWrapper {
	width: 100%;
}

.side {
	width: 100%;
	background-color: #fff;
}

.side .sideWrapper {
	width: 100%;
}

.foot {
	width: 100vw;
	height: 160px;
	background-color: #fff;
}

/* header */
/* 전체 화면 가리는거 */
.blackBox {
	z-index: 1;

	width: 100vw;
	height: 100vh;

	position: absolute;
	left: 0;
	top: 0;

	visibility: hidden;
	background-color: #0007;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
}

/* 헤더 사이즈 */
header {
	width: 100vw;
	height: 60px;

	background-color: var(--mainBlue);
}

header>.headerWrapper {
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
}

/* 타이틀 */
header>.headerWrapper .title {
	margin-left: 15px;
	font-size: 26px;
}

/* 빈공간 */
.blank {
	flex-grow: 1;
}

/* 메뉴 아이콘 */
.menuIcon {
	z-index: 3;

	width: 30px;
	height: 30px;
	margin-right: 10px;

	cursor: pointer;
}

.menuIcon>div {
	width: 30px;
	height: 6px;

	background-color: #fff;
	border-radius: 1px;
}

.menuIcon>div:nth-child(2) {
	margin: 6px 0;
}

.closeIcon {
	transform: rotate(-180deg);
}

.closeIcon div:first-child {
	width: 20px;
	transform: translate(-1px, 5px) rotate(-45deg);
}

.closeIcon div:last-child {
	width: 20px;
	transform: translate(-1px, -5px) rotate(45deg);
}

/* 네비게이션 */
header>.headerWrapper>ul {
	z-index: 2;

	width: calc(90vw - 40px);
	height: calc(100vh - 40px);

	position: fixed;
	right: -90vw;
	top: 0;
	padding: 20px;

	visibility: hidden;
	background-color: var(--mainBlue);
}

header>.headerWrapper>ul>li {
	margin: 20px 0;

}

header>.headerWrapper>ul>li:first-child {
	margin-top: 80px;
}

header>.headerWrapper>ul>li>a {
	width: 100%;
	height: 40px;

	display: inline-block;
	color: var(--fontWhite);
	font-size: 16px;
	text-align: center;
	line-height: 40px;
	border-radius: 20px;
	border: solid 1px var(--fontWhite);
}

header>.headerWrapper>ul>li>a:hover {
	background-color: #fff5;
	color: var(--fontThickColor);
	font-weight: bold;
}

header>.headerWrapper>ul>li>a.select {
	background-color: #fff;
	color: var(--mainGreen);
	font-weight: bold;
	pointer-events: none;
}

/* pc size */
@media (min-width: 1330px) {
	body {
		height: 100vh;

		cursor: default;
	}

	/** pc 사이즈  */
	.content {
		width: 100vw;
	}

	.content>.centerWrapper {
		height: 100%;
		width: 1330px;
		margin: 0 auto;
	}

	.side {
		width: 100%;
		height: 70px;
	}

	.side>.sideWrapper {
		height: 100%;
		width: 1330px;
		margin: 0 auto;
	}

	.foot {
		height: 110px;
	}

	/* header */
	.blackBox {
		visibility: hidden;
	}

	header {
		width: 100vw;
		height: 90px;
		padding: 0;
		background-color: var(--mainBlue);
	}

	header .headerWrapper {
		width: 1330px;
		height: 90px;

		margin: 0 auto;
	}

	header .headerWrapper .title {
		margin: 0;
		font-size: 36px;
	}

	.menuIcon {
		visibility: hidden;
	}

	header .headerWrapper ul {
		width: auto;
		height: auto;
		padding: 0;
		visibility: visible;
		display: block;
		text-align: right;
		position: static;
		background: transparent;
	}

	header .headerWrapper ul li {
		display: inline-block;
		margin: 0 5px;
	}

	header .headerWrapper ul li:first-child {
		margin: 0;
	}

	header .headerWrapper ul li:last-child {
		margin-right: 0;
	}

	header .headerWrapper ul li a {
		width: 160px;
		height: 40px;

		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		border-radius: 20px;
		font-size: 15px;
		color: var(--fontNonSetect);
	}

	header .headerWrapper ul li a:hover {
		border: 1px solid #fff;
		color: var(--fontWhite);
		font-weight: bold;
	}

	header .headerWrapper img{
		height:100px;
		width:450px;
	}


	/* 사이드 */
	.centerWrapper > div:first-child{
		flex-direction: row;
	  }

	.main_header{
		height: 70px;
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		justify-content: space-between;
		padding: 0;
		
	}

	.main_header-category{
		height: 70px;
		padding: 0;
		display: flex;
		align-items: center;

	}

	.main_header-category__link{
		padding: 10px 30px;
		margin-left:10px;
		
	}

	
	.main_header-category__link + .main_header-category__link{
		margin-left: 10px;
	}

	.main_header-category_defualt{
		background-color: rgba(0,76,151,1.00);
		border-color:rgba(0,76,151,1.00);
		color: #fff;
	}

	.main_header-anno_defualt{

		background: rgba(0,76,151,1.00);
		border-color:rgba(0,76,151,1.00);
		color: #FFFFFF;

	}


}