@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);
@font-face {
    font-family: 'titleFont';
    src: url(../source/font/NotoSansKR-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'titleFont' !important;
}

/** 컬러 변수 */
:root{
    --bgColor: #F4F4F4;

    --mainGreen: #8DB858;
    --mainBlue: #52B2C8;
    --lineColor: #bbb;
    
    --cauBlue : rgba(0,76,151,1.00);
    --fontLightColor: #646464;
    --fontThickColor: #3C3C3C;
    --fontWhite: #fff;
    --fontNonSetect: #fff7;
}
/** 전체 기본값 */
body{
    width: 100vw;
    overflow-x: hidden;
    font-family: 'NanumSquare', sans-serif;
    color: var(--fontThickColor);
}

/* 화면 정렬 */
/** 콘텐츠 가로 정렬  */
.flexRow{
    display: flex;
    flex-direction: row;
}
/** 콘텐츠 세로 정렬 */
.flexCol{
    display: flex;
    flex-direction: column;
}
/** (아티클): 아티클중 나머지 전체 영역을 가짐 */
.flexFullArea{
    flex-grow: 1;
}

/* 애니메이션 속도 */
.anime{
    transition: .3s;
}

/* 요소 스타일 */
/** border box  */
div{box-sizing: border-box;}

/* 요소 정렬 */
/** position: 박스가 화면 정중앙 위치  */
.positionCenter{
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}
/** flex: 박스 안 요소가 가운데 위치  */
.flexCenter{
    align-items: center;
    justify-content: center;
}

/* 폰트 스타일 */
/** 폰트 */
.title{font-family: 'titleFont', sans-serif;text-shadow: 0 0 10px var(--fontThickColor);}
/** (*): 폰트 굵기 */
.light{ font-weight: 300;}
.normal{ font-weight: 400;}
.bold{ font-weight: 700;}
.bolder{ font-weight: 800;}
/** (*): 폰트 사이즈 */
h1, .titleL{font-size: 24pt;}
h2, .titleM{font-size: 21pt;}
h3, .titleS{font-size: 18pt;}
h4, .textL{font-size: 16pt;}
h5, .textM{font-size: 14pt;}
p, .textS{font-size: 12pt;}
address, .textSS{font-size: 10pt;}
/** (*): 폰트 정렬 */
.textCenter{text-align: center;}
.textRight{text-align: right;}
.textLeft{text-align: left;}
/** (*): 폰트 색상 */
.textColorG{color: var(--mainGreen);}
.textColorL{color: var(--fontLightColor);}
.textColorT{color: var(--fontThickColor);}
.textSelect{color: var(--fontWhite);}
.textNonSelect{color: var(--fontNonSetect);}
/** 폰트 클리어 */
a{text-decoration: none;color: var(--fontThickColor);}

/* 버튼 스타일 */
/** 콘텐츠 내 버튼 스타일 pc 모바일 등 */
button{cursor: pointer;}
